<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="contenedor">
        <select name="categorias" v-model="filtercategoria">
        <option selected disabled >Filtrar Películas</option>
        <option value="todas">Todas</option>
        <option value="marvel">Marvel</option>
        <option value="dc">DC</option>
    </select>
        <movie v-for="pelicula in filtroCategoria" :titulo="pelicula.titulo" :youtube="pelicula.youtube" :imagen="pelicula.imagen" :categoria="pelicula.categoria"></movie>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/data.js"></script>
</body>

</html>