<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/59c8ee105d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-brand logo">
                <div class="fondo_logo"><i class="fas fa-play-circle"></i>Notflix</div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html"><i class="fas fa-home"></i><label>Home</label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/movies.html"><i class="fa fa-film "></i><label>Peliculas</label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/options.html"><i class="fas fa-users-cog"></i><label>Opciones</label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/logout.html"><i class="fas fa-user-times"></i><label>Salir</label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/contact.html"><i
                                class="fas fa-envelope-open-text"></i><label>Contactanos</label></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>
